/* nunito font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* fredoka font */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
   font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #F6E9D8;
}

